.background {
  viewport-fill: black;
}

#homeTime {
  font-size: 80;
  font-family: Fabrikat-Bold;
  text-length: 12;
  text-anchor: start;
  x: 5%;
  y: 25%+40;
  fill: white;
}

#worldTime {
  font-size: 80;
  font-family: Fabrikat-Bold;
  text-length: 12;
  text-anchor: start;
  x: 5%;
  y: 75%+40;
  fill: white;
}

#testUtc {
  font-size: 20;
  font-family: Fabrikat-Bold;
  text-length: 48;
  text-anchor: start;
  x: 5%;
  y: 40%+40;
  fill: white;
}

#homeLabel {
  font-size: 20;
  font-family: Fabrikat-Bold;
  text-length: 48;
  text-anchor: start;
  x: 0%;
  y: 15%;
  fill: white;
}

#worldLabel {
  font-size: 20;
  font-family: Fabrikat-Bold;
  text-length: 48;
  text-anchor: start;
  x: 0%;
  y: 65%;
  fill: white;
}
